html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        style(type='text/css')
            include ../../assets/scss/vars.scss
            include ../../assets/scss/fonts.scss
            include ../../assets/scss/position.scss
            include ../../assets/scss/action.scss
            include ../../assets/scss/text.scss
            include __elements/dropdown/dropdown.scss        
            include cards/cards.scss        
    body