.checkbox_rich {
    label .list__item {
        margin: 5px 0;
        margin-left: 30px;
        font-size: 12px;
        line-height: 14px;
        color: var(--dark-50);
    }
    .list__item--h3 {
        font-family: var(--montserrat_reg);
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: var(--dark-75);
    }
}