body {
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
}
.template-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2%;
}
.logo__img {
    margin: 2px;
    display: block;
    width: 48px;
    height: 48px;
}
.p-0 {
    padding: 0 !important;
}
.mt-5 {
    margin-top: 5px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-28 {
    margin-top: 28px;
}
.mt-70 {
    margin-top: 70px;
}
