body {
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
}
.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1%;
}
.logo__img {
    display: block;
    width: 48px;
    height: 48px;
}
