
body {
    font-family: var(--montserrat_reg);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
h1 {
    font-family:  "OpenSans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    color: var(--dark);
}
h2 {
    font-family:  "OpenSans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: var(--dark);
}
h3 {
    font-family:  var(--montserrat_bold);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--dark);
}
span {
    font-family: var(--montserrat_reg);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
}
