.option {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    min-height: 60px;
    width: 280px;
    padding-bottom: 20px;

    .icon {
        width: 48px;
        height: 44px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .content {
        flex-grow: 1;
        margin-left: 10px;
        h3, span {
            text-transform: none;
            color: var(--dark-75);
            line-height: 14px;
            font-size: 14px;
        }
    }
}