@import './general.scss';
@import './checkbox/checkbox.scss';
@import './text-field/text-field.scss';
@import './radio-buttons/radio-buttons.scss';
@import './toggle/toggle.scss';
@import './like-buttons/like-buttons.scss';
@import './rate-button/rate-button.scss';
@import './range-slider/range-slider.scss';
@import './buttons/buttons.scss';
@import './pagination/pagination.scss';
@import './dropdown/dropdown.scss';
@import './checkbox-expandle/checkbox-expandle.scss';
@import './option/option.scss';
@import './checkbox_rich/checkbox_rich.scss';
@import './bullet-list/bullet-list.scss';
@import './feedback/feedback.scss';
@import './slider/slider.scss';
@import './cards_find/cards_find.scss';
@import './air-datepicker/datepicker.css';
@import './air-datepicker/two-input/two-input.scss';

.template-logo {
    margin-left: -15px;
}
body {
    margin-left: 40px;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block {
    margin-top: rem(38);
    margin-right: rem(10);
    margin-left: 30px;
    margin-bottom: rem(20);
    min-width: 380px;
    width: 25%; 
}
.block-card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 30px;
    padding-top:40px;
    width: 380px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .auth {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        span {
            font-size: 14px;
            line-height: 18px;
            color: #000;
        }
    }
}
//header for 2 block

//text reserv
.line {
    display: inherit;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;

    span {
        color: var(--dark-75);
        max-width: 215px;
        text-align: left;
        position: relative;
        font-size: 14px;
        line-height: 24px;
    }
    h3 {
        margin: 0;
        font-size: 19px;
        line-height: 24px;
    }
    .info:after {
        content: '\1F6C8';
        width: 30px;
        height: 30px;
        position: absolute;
        left: 215px;
        top: 0;
        color: var(--dark-25);
        cursor: pointer;
        font-size: 20px;
    }
    .info:hover:after {
        color: var(--dark-75);
        cursor: pointer;
    }
    .border-bottom {
        flex-grow: 2;
        border-bottom: 1px solid var(--dark-25);
        box-sizing: border-box;
    }
}
