@import './general.scss';
@import './checkbox/checkbox.scss';
@import './text-field/text-field.scss';
@import './radio-buttons/radio-buttons.scss';
@import './toggle/toggle.scss';
@import './like-buttons/like-buttons.scss';
@import './rate-button/rate-button.scss';
@import './range-slider/range-slider.scss';
@import './buttons/buttons.scss';
@import './pagination/pagination.scss';
@import './dropdown/dropdown.scss';
@import './checkbox-expandle/checkbox-expandle.scss';
@import './option/option.scss';
@import './checkbox_rich/checkbox_rich.scss';
@import './bullet-list/bullet-list.scss';
@import './feedback/feedback.scss';
@import './slider/slider.scss';
@import './cards_find/cards_find.scss';
@import './air-datepicker/datepicker.css';
@import './air-datepicker/two-input/two-input.scss';

.template-logo {
    margin-left: -0.9375rem;
}
body {
    margin-left: 2.5rem;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block {
    margin-top: rem(38);
    margin-right: rem(10);
    margin-left: 1.875rem;
    margin-bottom: rem(20);
    min-width: 23.75rem;
    width: 25%; 
}
.block-card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 1.875rem;
    padding-top:2.5rem;
    width: 23.75rem;
    background-color: #FFF;
    border: 0.0625rem solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;

    .auth {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        span {
            font-size: 0.875rem;
            line-height: 1.125rem;
        }
        .auth_span {
            color: #000;
        }
    }
    .num-bold {
        font-family: var(--montserrat_bold);
        font-size: 14px;
        line-height: 34px;
    }
}

//text reserv
.line {
    display: inherit;
    width: 100%;
    justify-content: space-between;

    span {
        color: var(--dark-75);
        max-width: 13.4375rem;
        text-align: left;
        position: relative;
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
    h3 {
        margin: 0;
        font-size: 17px;
        line-height: 6px;
        font-family: OpenSans;
    }
    .info:after {
        content: '\1F6C8';
        width: 1.875rem;
        height: 1.875rem;
        position: absolute;
        left: 13.4375rem;
        top: 0;
        color: var(--dark-25);
        cursor: pointer;
        font-size: 1.25rem;
    }
    .info:hover:after {
        color: var(--dark-75);
        cursor: pointer;
    }
    .border-bottom {
        flex-grow: 2;
        border-bottom: 0.0625rem dotted var(--dark-25);
        box-sizing: border-box;
    }
}

//чего не сделаешь ради PP
.block:first-child .block-card:first-child{
    margin-left:1px;
    h1 {
        margin-top: -3px;
        letter-spacing: -0.35px;
    }
    h3 {
        margin: 21px 0 6px;
    }
    .btn--big {
        margin-top: 33px;
        margin-right: -2px;
    }
}
.block:first-child .block-card:nth-child(2) {
    h1 {
        margin-top: -3px;
        letter-spacing: -0.35px;
    }
    .radio-button__item {
        margin-top: 5px;
    }
    .text_birthday {
        margin: 27px 0 5px;
    }
    h3 {
        margin: 20px 0 5px;
    }
    .btn--big {
        margin-top: 17px;
        margin-right: -2px;
    }
    .btn--border {
        margin-right: -5px;
    }
}

.block:nth-child(2) .block-card:nth-child(1) {
    h1 {
        font-family: var(--quicksand);
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 24px;
        letter-spacing: -0.4px;
        .number {
            color: var(--purple);
            font-family: var(--montserrat_bold);
            font-size: 15px;
        }
    }
    .number_span {
        color: var(--dark);
        font-family: var(--quicksand);
    }
    .two-input_wrapper h3 {
        margin: 14px 0 5px;
    }
    h3 {
        margin: 20px 0 6px;
    }
    .line h3 {
        margin: 31px 0 6px;
    }
    .btn--big {
        margin-top: 23px;
        margin-right: -3px;
    }
}
.block:nth-child(2) .block-card:nth-child(2) {
    h1 {
        margin-top: -3px;
    }    
    .btn--big {
        margin-top: 21px;
        margin-right: -3px;
    }
    .btn--border {
        margin-right: -3px;
    }
}