extends ../main.pug
block head 
  title Form Elemets
  link(rel="stylesheet", href="../../assets/css/Form_Elements.css")

include ./text-field/text-field
include ./dropdown/dropdown
include ./buttons/button_big
include ./checkbox/checkbox
include ./radio-buttons/radio-buttons
include ./toggle/toggle
include ./like-buttons/like-buttons
include ./rate-button/rate-button
block body
  .block
    +text-field('text-field','text','EMAIL','default')
    +text-field('text-field','text','This is pretty awesome','hover/focus')
    +dropdown(["спальни","кровати","ванные комнаты"],'text','Сколько будет гостей','dropdown','default')
    +text-field('Masked text field','date','','default')
    +dropdown('','date','','date dropdown')(class="dropdown--small")
    +dropdown('','date','','date dropdown')(class="dropdown--small")
    +dropdown('','date','19 авг - 23 авг','filter date dropdown')(class="dropdown--medium")
    +text-field('subscribe text field','text','19 авг - 23 авг','','arrow_forward')(class="text-field--medium")
  
  .block1
    +checkbox('Checkbox Buttons')
    h3 Radio Buttons
    +radio-button()
    +toggle('Toggle')
    h3 like button
    +like-buttons(2,'dislake')
    +like-buttons(12,'like')
    h3 rate button
    +rate-button('stars-left')
    +rate-button('stars-right')

  .block
    h3 Range slider
    .range
      input(type="text" class="js-range-slider" name="my_range" value="")


block footer
  script(src='../../Form_Elements.js')