extends ../main.pug
block head 
  title Form Elemets
  link(rel="stylesheet", href="../../assets/css/Form_Elements.css")

include ./text-field/text-field
include ./air-datepicker/two-input/two-input
include ./checkbox/checkbox
include ./radio-buttons/radio-buttons
include ./toggle/toggle
include ./like-buttons/like-buttons
include ./rate-button/rate-button
include ./buttons/buttons
include ./dropdown/dropdown
include ./checkbox-expandle/checkbox-expandle
include ./option/option
include ./checkbox_rich/checkbox_rich
include ./bullet-list/bullet-list
include ./feedback/feedback


block body
  +template-logo
  .main
    .block
      .elem
        h3 text-field
        span default
        +text-field('text','EMAIL')
      .elem.mt-5
        h3 text-field
        span hover/focus
        +text-field('text','This is pretty awesome')(class="color-75")
      .elem.mt-5
        h3 dropdown
        span DEFAULT
        +dropdown('','','Сколько Гостей')(class="arrow--down")
      .elem
        h3 masked text field
        span default
        +text-field('text','')(class="datepicker-single")
      .elem
        +two-input()
      .elem
        h3 filter date dropdown
        +dropdown()(class=["size-medium",'arrow--down','color-75'])
      .elem.flex-size-medium
        h3 subscription text field
        +text-field('text','Email','arrow--forward')(class='flex-size-medium')
      .elem.flex-size-medium
        h3 dropdown
        span default
      .elem.flex-size-medium
        +dropdown('','','2 спальни, 2 кровати')(class=["flex-size-medium",'arrow--down'])
      .elem.flex-size-medium
        h3 dropdown
        span Expanded
      .elem.flex-size-medium
        +dropdown('Сonveniences','','2 спальни, 2 кровати')(class=["size-medium",'expanded','arrow--down'])
      .size-medium
        +checkbox-expandle('expandable checkbox list','')
        .mt-20
          +checkbox-expandle('expandable checkbox list',['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Телевизор','Шампунь'])
        


    
    .block
      .mt-20
        h3 checkbox Buttons
        +checkbox('Checkbox Buttons')
      h3 Radio Buttons
      .mt-15
        +radio-button()
      h3 Toggle
      .mt-10
        +toggle('Получать спецпредложения')(checked)
      .mt-10
        +toggle('Получать спецпредложения')
      h3 like button
      .mt-15.elem
        +like-buttons(2,'dislake')
        +like-buttons(12,'like')
      h3 rate button
      .mt-15.elem
        +rate-button('stars-left')
        +rate-button('stars-right')
      .elem
        h3 dropdown
        +dropdown('People',true,'Сколько гостей')(class="arrow--down")
      .elem
        h3 rich Checkbox Buttons
        .mt-5
          +checkbox_rich()

    .block
      .mt-20
        h3 Range slider
      .range(style="margin-top: -18px;")
        input(type="text" class="js-range-slider" name="my_range" value="")
      h3 Buttons
        .buttons-line
          +button('CLICK ME')(class=['btn--enable','btn--fill'])
          +button('CLICK ME')(class=['btn--disable','btn--fill'])
        .buttons-line
          +button('CLICK ME')(class=['btn--enable', 'btn--border'])
          +button('CLICK ME')(class=['btn--disable', 'btn--border'])
        .buttons-line
          +button('CLICK ME')(class=['btn--enable','btn--simple'])
          +button('CLICK ME')(class=['btn--sdisable','btn--simple'])
        .buttons-line
          +button('ПЕРЕЙТИ К ОПЛАТЕ')(class=['btn--fill','btn--big'])
      h3 pagination
        .pagination
        span.pagination--text 1 – 12 из 100+ вариантов аренды
      h3 dropdown
      +dropdown('People',true,'3 гостя')(class="arrow--down")
      .elem
        h3 bulet list
        +bullet-list()

  .footer
    .wrapper_content
      +option('var(--smile)','Комфорт','Шумопоглощающие стены')
      .mt-5
        +option('var(--home)','Удобство','Окно в каждой из спален')
    .wrapper_content.flex-grow
      +feedback('Мурад Сарафанов','5 дней назад','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')

block footer
  script(src='../../Form_Elements.js')