@import './general.scss';
@import './checkbox/checkbox.scss';
@import './text-field/text-field.scss';  
@import './radio-buttons/radio-buttons.scss';  
@import './toggle/toggle.scss';  
@import './like-buttons/like-buttons.scss';  
@import './rate-button/rate-button.scss';   
@import './range-slider/range-slider.scss';   
@import './buttons/buttons.scss';   
@import './pagination/pagination.scss';   
@import './dropdown/dropdown.min.scss';   
@import './checkbox-expandle/checkbox-expandle.scss';   
@import './option/option.scss';   

body .block {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-basis: 23%;
    min-width: 280px;
    flex-wrap: wrap;
    margin: 0 3%;
    h3{
        margin: 10px 0;
    }
    span {
        align-self: center;
        text-transform: uppercase;
    }
}
//а нужен ли block1???
body .block1 {
    display: flex;
    align-content: flex-start;
    flex-basis: 23%;
    min-width: 280px;
    flex-wrap: wrap;
    margin: 0 3%;

    h3 {
        width: 100%;
    }
}
.wrapper {
    width: 50%;
}
.color-75 input {
    color: var(--dark-75);
}
.simple-pagination {
    margin-top: 15px;
}
.pagination--text {
    font-size: 14px;
    color: var(--dark-75);
    line-height: 24px;
    font-family:  "Montserrat-bold";
}
body .block-dropdown {
    margin-top: 100px;
}
body .block-list {
    margin-top: 150px;
}