@import './general.scss';
@import './checkbox/checkbox.scss';
@import './text-field/text-field.scss';  
@import './air-datepicker/two-input/two-input.scss';  
@import './radio-buttons/radio-buttons.scss';  
@import './toggle/toggle.scss';  
@import './like-buttons/like-buttons.scss';  
@import './rate-button/rate-button.scss';   
@import './range-slider/range-slider.scss';   
@import './buttons/buttons.scss';   
@import './pagination/pagination.scss';   
@import './dropdown/dropdown.scss';   
@import './checkbox-expandle/checkbox-expandle.scss';   
@import './option/option.scss';   
@import './checkbox_rich/checkbox_rich.scss';   
@import './bullet-list/bullet-list.scss';   
@import './feedback/feedback.scss';   
@import './air-datepicker/datepicker.css';
@import './air-datepicker/two-input/two-input.scss';

html {
    background-color: #fff;
}
body {
    margin-bottom: 130px;
}
.block {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-basis: 23%;
    min-width: 280px;
    flex-wrap: wrap;
    // margin: 0 4%;
    max-width: 320px;

    .elem {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        span {
            margin-top: 5px;
        }
    }
    h3{
        margin: 15px 0 5px 0;
        width:170px;
    }
    span {
        align-self: center;
        text-transform: uppercase;
    }
}

.color-75 input {
    color: var(--dark-75);
}
.simple-pagination {
    margin-top: 15px;
    margin-bottom: 3px;
}
.block .pagination--text {
    font-size: 14px;
    color: var(--dark-75);
    line-height: 24px;
    font-family:  var(--montserrat_reg);
    text-transform: none;
    padding-left: 5px;
}
// не нужно
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-content: space-between;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    margin-top: 190px;
}
.wrapper_content {
    min-width: 23vw;
    width: 266px;
}
.flex-grow {
    flex-grow: 1;
    margin-left: 117px;
    margin-top: 22px;

}

@media screen and (max-width: 700px) {
    body .block {
        margin-left:0 !important;
    }
}