extends ../main.pug
block head 
  title Form Elemets
  link(rel="stylesheet", href="../../assets/css/Form_Elements.css")

include ./text-field/text-field
include ./checkbox/checkbox
include ./radio-buttons/radio-buttons
include ./toggle/toggle
include ./like-buttons/like-buttons
include ./rate-button/rate-button
include ./buttons/buttons
include ./dropdown/dropdown
include ./checkbox-expandle/checkbox-expandle
include ./option/option

block body
  .block
    h3 text-field
    span default
    +text-field('text','EMAIL')
    h3 text-field
    span hover/focus
    +text-field('text','This is pretty awesome')(class="color-75")
    h3 dropdown
    span DEFAULT
    +dropdown()
    h3 masked text field
    span default
    +text-field('date','')
    .wrapper
      h3 date dropdown
      +dropdown()(class="dropdown--small")
    .wrapper
      h3 date dropdown
      +dropdown()(class="dropdown--small")
    h3 filter date dropdown
    +dropdown()(class=["size-medium",'arrow--down','color-75'])
    h3 subscribe text field
    +text-field('text','Email')(class=['size-medium','arrow--forward'])
  
  .block1
    +checkbox('Checkbox Buttons')
    h3 Radio Buttons
    +radio-button()
    +toggle('Toggle')
    h3 like button
    +like-buttons(2,'dislake')
    +like-buttons(12,'like')
    h3 rate button
    +rate-button('stars-left')
    +rate-button('stars-right')

  .block
    h3 Range slider
    .range
      input(type="text" class="js-range-slider" name="my_range" value="")
    h3 Buttons
      .buttons-line
        +button('CLICK ME')(class=['btn--enable','btn--fill'])
        +button('CLICK ME')(class=['btn--disable','btn--fill'])
      .buttons-line
        +button('CLICK ME')(class=['btn--enable', 'btn--border'])
        +button('CLICK ME')(class=['btn--disable', 'btn--border'])
      .buttons-line
        +button('CLICK ME')(class=['btn--enable','btn--simple'])
        +button('CLICK ME')(class=['btn--disable','btn--simple'])
      .buttons-line
        +button('ПЕРЕЙТИ К ОПЛАТЕ')(class=['btn--fill','btn--big'])
    h3 pagination
      .pagination
      span.pagination--text 1-12 из 100+ вариантов аренды
  
  .block.block-dropdown
    .size-medium
      h3 dropdown
      span default
    +dropdown()(class="size-medium")
    .size-medium
      h3 dropdown
      span Expanded
    +dropdown()(class=["size-medium",'expanded'])
        
  .block.block-dropdown
    h3 dropdown
    +dropdown()
        
  .block.block-dropdown
    h3 dropdown
    +dropdown()

  .block.block-list
    .size-medium
      +checkbox-expandle('expandable checkbox list','')
      +checkbox-expandle('expandable checkbox list',['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Телевизор','Шампунь'])
      +option('var(--smile)','Комфорт','Шумопоглощающие стены')
      +option('var(--home)','text')

block footer
  script(src='../../Form_Elements.js')