@import './general.scss';
@import './checkbox/checkbox.scss';
@import './text-field/text-field.scss';  
@import './air-datepicker/two-input/two-input.scss';  
@import './radio-buttons/radio-buttons.scss';  
@import './toggle/toggle.scss';  
@import './like-buttons/like-buttons.scss';  
@import './rate-button/rate-button.scss';   
@import './range-slider/range-slider.scss';   
@import './buttons/buttons.scss';   
@import './pagination/pagination.scss';   
@import './dropdown/dropdown.scss';   
@import './checkbox-expandle/checkbox-expandle.scss';   
@import './option/option.scss';   
@import './checkbox_rich/checkbox_rich.scss';   
@import './bullet-list/bullet-list.scss';   
@import './feedback/feedback.scss';   
@import './air-datepicker/datepicker.css';
@import './air-datepicker/two-input/two-input.scss';

html {
    background-color: #fff;
}
body {
    margin-bottom: 130px;
}
.main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.block {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-basis: 23%;
    min-width: 280px;
    flex-wrap: wrap;
    // margin: 0 4%;
    max-width: 320px;

    .elem {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        span {
            margin-top: 5px;
        }
    }
    h3{
        margin: 15px 0 5px 0;
        width:170px;
    }
    span {
        align-self: center;
        text-transform: uppercase;
    }
}

.color-75 input {
    color: var(--dark-75);
}
.simple-pagination {
    margin-top: 15px;
    margin-bottom: 3px;
}
.block .pagination--text {
    font-size: 14px;
    color: var(--dark-75);
    line-height: 24px;
    font-family:  var(--montserrat_reg);
    text-transform: none;
    padding-left: 5px;
}
// не нужно
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-content: space-between;
}
//PP
.block:first-child {
    margin: 20px 0 0 141px;
    .elem:nth-child(4) {
        margin-top: 7px;
    }
    .elem:nth-child(5) {
        margin-top: 24px;
    }
    .elem:nth-child(6) {
        margin-top: 27px;
        width: 266px;
    }
    .elem:nth-child(7) {
        margin-top: 26px;
        width: 266px;
    }
    .elem:nth-child(8) {
        margin-top: 85px;
    }

    .elem:nth-child(10) {
        margin-top: 4px;
    }
    div:nth-child(12) {
        margin-top: 159px;
    }
}
.block:nth-child(2) {
    margin-left: 126px;

    h3:nth-child(2) {
        margin-top: 37px;
    }
    h3:nth-child(4) {
        margin-top: 45px;
    }
    h3:nth-child(7) {
        margin-top: 36px;
    }
    .elem:nth-child(8) {
        justify-content: flex-start;
    }
    h3:nth-child(9) {
        margin-top: 41px;
    }
    .elem:nth-child(10) {
        justify-content: flex-start;
    }
    .elem:nth-child(11) {
        margin-top: 162px;
    }
    .elem:nth-child(12) {
        margin-top: 240px;
        h3:first-child {
            width: 100%;
        }
        .checkbox_rich .checkbox_row:nth-child(2) .list__item {
            width: 230px;
        }
    }
    
}
.block:nth-child(3) {
    margin-left: 72px;
    .range {
        margin-top: -18px;
    }
    h3:nth-child(3) {
        margin-top: 47px;
    }
    .buttons-line:nth-child(2) {
        margin-top: 29px;
    }
    .buttons-line:nth-child(3) {
        margin-top: 26px;
        .btn--simple {
            width: 100px;
        }
    }
    .buttons-line:nth-child(4) {
        margin-top: 27px;
    }
    h3:nth-child(4) {
        margin-top: 35px; 
        width:100%;
    }
    h3:nth-child(5) { //dropdown с 3 гостя
        margin-top: 229px;
    }
    .elem:nth-child(7) {
        margin-top: 242px;
        h3:first-child {
            margin-bottom: 6px;
        }
    }
}
.footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    margin-top: 204px;
    .wrapper_content:first-child {
        margin-left: 142px;
    }
}
.wrapper_content {
    min-width: 23vw;
    width: 266px;
}
.flex-grow {
    flex-grow: 1;
    margin-left: 115px;
    margin-top: 22px;

}
@media screen and (max-width: 1400px) {
    .main {
        justify-content: center;
    }
    .block:first-child {
        margin-left: 0;
    }
}
@media screen and (max-width: 1150px) {
    .main .block {
         margin-right: 35%;
         margin-left: 35%;
    }
    .block:nth-child(2) {
        margin-top: 270px;
    }
    .wrapper_content {
        margin-right: 35%;
        margin-left: 142px;
    }
}
@media screen and (max-width: 500px) {
    .main {
        justify-content: flex-start;
    }
    body .block {
        margin-left:0 !important;
        margin-right: 0 !important;
    }
    .wrapper_content {
        margin-left: 0 !important;
        margin-right: 0;
    }
}