mixin checkboxItem(item)
  label
    input(type="checkbox" class="checkbox__input")
    span.checkbox__input--check
    span.list__item= item

mixin checkbox()
  .checkbox
    -var list = ['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)']
    each item in list
      +checkboxItem(item)