mixin checkboxItem(item)
  label
    input(type="checkbox" class="checkbox__input")
    span.check
    span.list__item= item

mixin checkbox(h3text)
  .checkbox
    -var list = ['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)']
    span= h3text
    each item in list
      +checkboxItem(item)