mixin item(i)
  span.item__text= i
  .item__count
    span.item__count__mark.item__count--minus -
    span.item__count__text 0
    span.item__count__mark.item__count--plus +

mixin dropdown(attr,type,placeholder,dropdown__button=false)
  .dropdown(class!=attributes.class, onclick="dropdownShow()")
    input(type=type,placeholder=placeholder class="dropdown__input")
    .dropdown__content
      each i in attr
        +item(i)
      if (typeof(dropdown__button) !== 'undefind' && dropdown__button)
        .dropdown__button
          +button('Очистить')(class=['btn--enable','btn--simple'])
          +button('Применить')(class=['btn--enable','btn--simple'])