.like-buttons {
    display: flex;
    flex-wrap: wrap;
    width: rem(50);

    .like-buttons__item {
        cursor: pointer;
    }
    .like-buttons__input {
        display: none;
    }
    .like-buttons__text {
        color: var(--dark-25);
        margin-left: rem(20);
        font-size: rem(10);
        line-height: rem(10);
    }
    .like-buttons__item:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: rem(40);
        height: rem(20);
        border: 1px solid var(--dark-25);
        background-color: transparent;
        border-radius: rem(10);
        transform: translateY(-5px);
    }
    .like-buttons__item:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: rem(25);
        height: rem(17);
        background-image: var(--favorite-empty);
        background-size: 50%;
        background-repeat: no-repeat;
        transition: .5s;
        transform: translateX(5px);
    }

    .like-buttons__input:checked + .like-buttons__text {
        color: var(--purple);
    }
    .like-buttons__input:checked + .like-buttons__item::before {
        border-color: var(--purple);
    }
    .like-buttons__input:checked + .like-buttons__item:after {
        background: var(--favorite);
        background-size: 50%;
        background-repeat: no-repeat;
    }
}