@import './../__elements/general.scss';
@import './../__elements/checkbox/checkbox.scss';
@import './../__elements/text-field/text-field.scss';
@import './../__elements/radio-buttons/radio-buttons.scss';
@import './../__elements/toggle/toggle.scss';
@import './../__elements/like-buttons/like-buttons.scss';
@import './../__elements/rate-button/rate-button.scss';
@import './../__elements/range-slider/range-slider.scss';
@import './../__elements/buttons/buttons.scss';
@import './../__elements/pagination/pagination.scss';
@import './../__elements/dropdown/dropdown.scss';
@import './../__elements/checkbox-expandle/checkbox-expandle.scss';
@import './../__elements/option/option.scss';
@import './../__elements/checkbox_rich/checkbox_rich.scss';
@import './../__elements/bullet-list/bullet-list.scss';
@import './../__elements/feedback/feedback.scss';
@import './../__elements/slider/slider.scss';
@import './../__elements/air-datepicker/datepicker.css';
@import './../__elements/air-datepicker/two-input/two-input.scss';
@import './../__elements/header/header.scss';
@import './../__elements/footer/footer.scss';
@import './../__elements/cards_find/cards_find.scss';

body {
    margin: 0;
    padding: 0;
}
.block-card {
    margin-top: 70px;
    margin-left: 140px;
}
@media screen and (max-width:700px) {
    .block-card {
        margin-left:10px;
    }
}
.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    .content__text {
        width: 100%;
        z-index: 1;
        display: inherit;
        justify-content: flex-end;

        span {
            text-align: right;
            font-size: 14px;
            line-height: 24px;
            color: var(--dark-75);
            width: 297px;
            margin-right: 134px;
            margin-bottom: 20px;
            margin-top: 316px;
        }
    }
}
.content:before {
    background: url('../../../assets/img/background_landing.png') no-repeat;
    content: '';
    width: 100%;
    position: absolute;
    height: 830px;
    animation-name: background_landing;
    animation-duration: 45s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;
}
@keyframes background_landing {
    0% {
        background: url('../../../assets/img/background_landing.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
    50% {
        background:url('../../../assets/img/background_landing_2.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
    100% {
        background:url('../../../assets/img/background_landing_3.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.header .nav__ul li {
    margin-right: 22px;
}
.header .nav__auth {
    margin-right: 16px;
}
.block-card {
    h1 {
        margin-left: -1.5px;
        margin-top: -2px;
        letter-spacing: -0.4px;
    }
    .two-input_wrapper h3 {
        margin: 21px 0 6px;
    }
    h3 {
        margin: 20px 0 5px;
    }
    .btn--big {
        margin-top: 35px;
    }
}

.footer {
    .main {
        margin-left: 0;
        margin-top: -13px;
    }
}