@import './../__elements/general.scss';
@import './../__elements/checkbox/checkbox.scss';
@import './../__elements/text-field/text-field.scss';
@import './../__elements/radio-buttons/radio-buttons.scss';
@import './../__elements/toggle/toggle.scss';
@import './../__elements/like-buttons/like-buttons.scss';
@import './../__elements/rate-button/rate-button.scss';
@import './../__elements/range-slider/range-slider.scss';
@import './../__elements/buttons/buttons.scss';
@import './../__elements/pagination/pagination.scss';
@import './../__elements/dropdown/dropdown.scss';
@import './../__elements/checkbox-expandle/checkbox-expandle.scss';
@import './../__elements/option/option.scss';
@import './../__elements/checkbox_rich/checkbox_rich.scss';
@import './../__elements/bullet-list/bullet-list.scss';
@import './../__elements/feedback/feedback.scss';
@import './../__elements/slider/slider.scss';
@import './../__elements/air-datepicker/datepicker.css';
@import './../__elements/air-datepicker/two-input/two-input.scss';
@import './../__elements/header/header.scss';
@import './../__elements/footer/footer.scss';
@import './../__elements/chart/chart.scss';
@import './../__elements/cards_find/cards_find.scss';

html {
    background-color: #fff;
}
body {
    margin: 0;
    padding: 0;
}
.RoomDetails {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.RoomDetails__img {
    width: 100%;
    display: flex;
    justify-content: center;

    .img-big {
        width: 68.7%;
        img {
            width: 100%;
        }
    }
    .img__block {
        display: flex;
        flex-wrap: wrap;
        width: 32.1%;

        .img-small {
            width: 100%;
            img {
                width: 100%;
            }
            img:nth-child(2) {
                margin-top: -1px;
            }
        }
    }
}
.RoomDetails__content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 9.7%;
    margin-right: 9.7%;
    margin-bottom: 62px;
    .Roomdetails__left-side {
        display: flex;
        flex-wrap: wrap;
        width: 68.7%;
    }
    .Roomdetails__right-side {
        width: 320px;
    }
}
.RoomDetails__block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 270px;
    margin-right: 91px;
}

.RoomDetails__cancel {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 340px;
    margin-top: 17px;
    span {
        text-align: left;
        margin-top: 9px;
        line-height: 24px;
        letter-spacing: 1.155px;
    }
}
.block-card {
    margin-left: -17px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 30px;
    padding-top:40px;
    width: 380px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    h1 {
        font-family: var(--quicksand);
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 24px;
        letter-spacing: -0.4px;
        .number {
            color: var(--purple);
            font-family: var(--montserrat_bold);
            font-size: 15px;
        }
    }
    .number_span {
        color: var(--dark);
        font-family: var(--quicksand);
    }
    .num-bold {
        font-family: var(--montserrat_bold);
        font-size: 14px;
        line-height: 34px;
    }
    .two-input_wrapper h3 {
        margin: 14px 0 5px;
    }
    h3 {
        margin: 20px 0 6px;
    }
    .line h3 {
        margin: 31px 0 6px;
    }
    .btn--big {
        margin-top: 23px;
        margin-right: -3px;
    }
}
.line {
    display: inherit;
    width: 100%;
    justify-content: space-between;

    span {
        color: var(--dark-75);
        max-width: 13.4375rem;
        text-align: left;
        position: relative;
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
    h3 {
        margin: 0;
        font-size: 17px;
        line-height: 6px;
        font-family: OpenSans;
    }
    .info:after {
        content: '\1F6C8';
        width: 1.875rem;
        height: 1.875rem;
        position: absolute;
        left: 13.4375rem;
        top: 0;
        color: var(--dark-25);
        cursor: pointer;
        font-size: 1.25rem;
    }
    .info:hover:after {
        color: var(--dark-75);
        cursor: pointer;
    }
    .border-bottom {
        flex-grow: 2;
        border-bottom: 0.0625rem dotted var(--dark-25);
        box-sizing: border-box;
    }
}

.Roomdetails__left-side {
    .RoomDetails_h3 {
        text-transform: none;
        font-family: OpenSans;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: -0.3px;
        margin-top: -1px;
        margin-bottom: 7px;
    }
    .option {
        .content {
            h3 {
                margin: 0;
                line-height: 28px;
            }
            span {
                line-height: 21px;
            }
        }
    }
    .option:nth-child(3), .option:nth-child(4) {
        margin-top: 8px;
    }
    .RoomDetails_feedback {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        width: 89%;
        margin-bottom: 12px;
        
        .count-feedback {
            color: var(--dark-50);
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        }
    }    
    .mt-10 {
        .feedback {
            margin-top: -5px;
        }
    }
    .rule {
        text-transform: none;
        font-family: OpenSans;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: -0.4px;
        margin-top: -5px;
        margin-bottom: 17px;
        margin-left: 20px;
    }
    .bullet-list__items {
        margin-bottom: 10px;
    }
}
.footer {
    .main {
        margin-left: 0;
        margin-top: -13px;
    }
}