extends ../main.pug
block head 
  title Search Room page
  link(rel="stylesheet", href="../../assets/css/SearchRoom.css")

include ./../__elements/text-field/text-field
include ./../__elements/air-datepicker/two-input/two-input
include ./../__elements/checkbox/checkbox
include ./../__elements/radio-buttons/radio-buttons
include ./../__elements/toggle/toggle
include ./../__elements/like-buttons/like-buttons
include ./../__elements/rate-button/rate-button
include ./../__elements/buttons/buttons
include ./../__elements/dropdown/dropdown
include ./../__elements/checkbox-expandle/checkbox-expandle
include ./../__elements/option/option
include ./../__elements/checkbox_rich/checkbox_rich
include ./../__elements/bullet-list/bullet-list
include ./../__elements/feedback/feedback
include ./../__elements/slider/slider
include ./../__elements/header/header
include ./../__elements/footer/footer
include ./../__elements/cards_find/cards_find

block body
  +header({'О нас':'', 'Услуги':'arrow-down', 'Вакансии':'', 'Новости':'','Соглашения':'arrow-down'}, '', 'ВОЙТИ', 'ЗАРЕГИСТРИРОВАТЬСЯ')
  .content
    .content__left-side.mt-30
      h3 Даты пребывания в отеле
      +text-field('text','')(class="datepicker-single")
      h3.mt-20 Гости
      +dropdown('People',true,'3 гостя')(class="arrow--down")
      h3 Диапазон цены
      .range
        input(type="text" class="js-range-slider" name="my_range" value="")
      span Стоимость за сутки пребывания в номере
      h3.mt-30 checkbox Buttons
      +checkbox('Checkbox Buttons')
      .wrapper_content.mt-30
        h3 Доступность
        +checkbox_rich()
      h3.mt-30 Удобства номера
      +dropdown('Сonveniences','','2 спальни, 2 кровати')(class=["size-medium",'expanded','arrow--down'])
      +checkbox-expandle('Дополнительные удобства',['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь','Телевизор','Шампунь'])(class="mt-30")
      
    .content__right-side
      h3.mt-40 Номера, которые мы для вас подобрали
      .SearchRoom
        .SearchRoom__block
          +slider('888','9 900','145',true).img--0
        .SearchRoom__block
          +slider('840','9 900','65',false).img--1
        .SearchRoom__block
          +slider('980','8 500','35',true).img--2
        .SearchRoom__block
          +slider('856','7 300','19',false).img--3
        .SearchRoom__block
          +slider('740','6 000','44',false).img--4
        .SearchRoom__block
          +slider('982','5 800','56',false).img--5
        .SearchRoom__block
          +slider('678','5 500','45',false).img--6
        .SearchRoom__block
          +slider('450','5 300','39',false).img--7
        .SearchRoom__block
          +slider('350','5 000','77',false).img--8
        .SearchRoom__block
          +slider('666','5 000','25',false).img--9
        .SearchRoom__block
          +slider('444','5 000','15',false).img--10
        .SearchRoom__block
          +slider('352','5 000','55',false).img--11
      .pagination__wrapper
        .pagination
        span.pagination--text 1 – 12 из 100+ вариантов аренды

  +footer('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
  {
    ['навигация']:['О нас','Новости','Служба поддержки','Услуги'],
    ['о нас']: ['О сервисе','Наша команда','Вакансии','Инвесторы'],
    ['Служба поддержки']: ['Соглашения','Сообщества','Связь с нами'] 
    },
    'Подписка',
    'Получайте специальные <br>предложения и новости сервиса'
    )
block footer
  script(src='../../SearchRoom.js')