@import './../__elements/general.scss';
@import './../__elements/checkbox/checkbox.scss';
@import './../__elements/text-field/text-field.scss';
@import './../__elements/radio-buttons/radio-buttons.scss';
@import './../__elements/toggle/toggle.scss';
@import './../__elements/like-buttons/like-buttons.scss';
@import './../__elements/rate-button/rate-button.scss';
@import './../__elements/range-slider/range-slider.scss';
@import './../__elements/buttons/buttons.scss';
@import './../__elements/pagination/pagination.scss';
@import './../__elements/dropdown/dropdown.scss';
@import './../__elements/checkbox-expandle/checkbox-expandle.scss';
@import './../__elements/option/option.scss';
@import './../__elements/checkbox_rich/checkbox_rich.scss';
@import './../__elements/bullet-list/bullet-list.scss';
@import './../__elements/feedback/feedback.scss';
@import './../__elements/slider/slider.scss';
@import './../__elements/air-datepicker/datepicker.css';
@import './../__elements/air-datepicker/two-input/two-input.scss';
@import './../__elements/header/header.scss';
@import './../__elements/footer/footer.scss';
@import './../__elements/cards_find/cards_find.scss';

body {
    margin: 0;
    padding: 0;
}
.block-card {
    margin-top: 70px;
    margin-left: 140px;
}
.content {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;

    .content__text {
        width: 100%;
        z-index: 1;
        display: inherit;
        justify-content: flex-end;

        span {
            text-align: right;
            font-size: 14px;
            line-height: 24px;
            color: var(--dark-75);
            width: 297px;
            margin-right: 140px;
            margin-bottom: 20px;
            margin-top: 320px;
        }
    }
}
.content__left-side {
    margin-left: 140px;
    width: 266px;
}
.content__right-side {
    width: calc(100vw - 496px);
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;

    h3 {
        width: 100%;
    }
}
.SearchRoom {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    &__block {
        margin-right: 10px;
        margin-bottom: 20px;
    }
}

.pagination__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.pagination--text {
    font-size: 14px;
    color: var(--dark-75);
    line-height: 24px;
    font-family:  "Montserrat-reg";
    margin: 0 auto;
}