/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
span.ellipse.clickable {
	cursor: pointer;
}

.ellipse input {
	width: 3em;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/
.light-theme span {
	cursor:pointer;
}

.light-theme a, .light-theme span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 22px;
	font-size:12px;
	line-height:15px;
	text-decoration: none;
	color: var(--dark-50);
	//background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
// hover
// .light-theme a:hover, .light-theme li:not(.disabled):not(.active) span:hover {
// 	background: var(--purple);
// }

.light-theme .current {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color: #FFF;
	border-radius: 22px;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}
.simple-pagination:after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z' fill='white'/%3E%3C/svg%3E"), linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	background-repeat: no-repeat;
	border-radius: 50%;
	background-position: center;
	cursor: pointer;
}