mixin radio-button()
  .radio-button
    label.radio-button__item
      input(type="radio" class="radio-button__input" name="sex")
      span.radio-button__text Мужчина
    label.radio-button__item
      input(type="radio" class="radio-button__input" name="sex")
      span.radio-button__text Женщина