.radio-button {
    display: flex;
    flex-wrap: wrap;
    flex-basis: rem(260);

    h3 {
        width: 100%;
    }
    .radio-button__item {
        display: flex;
        align-items: center;
        flex-basis: 30%;
        cursor: pointer;
        position: relative;
        padding-left: rem(30);
        font-size: rem(13);
    }
    .radio-button__input {
        display: none;
    }
    .radio-button__text:before {
        content: '';
        display: inline-block;
        width: rem(20);
        height: rem(20);
        position: absolute;
        left: 0;
        top: -.3rem;
        background-color: transparent;
        border: 1px solid var(--dark-25);
        border-radius: 50%;
    }
    .radio-button__input:checked + .radio-button__text:before {
        border-color: var(--purple);
    }
    .radio-button__input:checked + .radio-button__text {
        color: var(--dark-75);
    }
    .radio-button__input:checked + .radio-button__text:after {
        content: '';
        position: absolute;
        left: rem(4.5);
        top: 0;
        width: rem(12);
        height: rem(12);
        border-radius: 50%;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

}