@import '../general.scss';

.dropdown {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    justify-content: space-between;
    
    input {
        cursor: pointer;
    }
    span {
        align-self: center;
        text-transform: uppercase;
    }
    .dropdown-content {
        background-color: #fff;
        box-sizing: border-box;
        padding: 15px;
        height: 140px;
        display: none;
        flex-wrap: wrap;
        position: absolute;
        left:0;
        right:0;
        z-index: 1;
    }
    .item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .item__count {
        display: flex;
        justify-content: space-between

        h3{
            margin: 10px 0;
        }
    }
}

.dropdown--small {
    width: 45%;    
}
.dropdown--medium {
    width: 266px;    
}
.dropdown-content .count {
    font-size: 18px;
    color: var(--dark-50);
    width:30px;
    height: 30px;
    align-self: center;
    text-align: center;
    border: 1px solid var(--dark-50);
    border-radius: 60%;
    cursor: pointer;
    justify-content: center;
}
