input {
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 4px;
    height: 44px;
    color: var(--dark-25);
}
.dropdown {
    position: relative;
}
.dropdown-content {
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px;
    height: 140px;
    display: none;
    position: absolute;
    left:0;
    right:0;
    z-index: 1;
}
.dropdown-content .count {
    font-size: 18px;
    color: var(--dark-50);
    width:30px;
    height: 30px;
    align-self: center;
    text-align: center;
    border: 1px solid var(--dark-50);
    border-radius: 60%;
    cursor: pointer;
    justify-content: center;
}
.dropdown:hover .dropdown-content {
    display: flex;
}
.arrow-320 {
    fill: var(--dark-50);
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: .5rem;
    margin-left: -2rem;
}
.arrow-320:hover {
    fill: var(--dark-75);
}