//- шаблон для создания dropdown - +dropdown([one,two,three])

mixin dropdown(attr,type,placeholder)
  .dropdown(class!=attributes.class, onclick='children[1].classList.toggle("show");')
    input(type=type,placeholder=placeholder)
    .dropdown-content
      each i in attr
        .item
          span.item__text= i
          .item__count
            .count.minus -
            span.count__text 2
            .count.plus +