mixin rate-button(num) 
  if(num==4)
    .rate-button
      ul.rate-button__item
        li.rate-button__star.rate-button__star--full
        li.rate-button__star.rate-button__star--full
        li.rate-button__star.rate-button__star--full
        li.rate-button__star.rate-button__star--full
        li.rate-button__star.rate-button__star--empty
  if(num==5)
    .rate-button
      ul.rate-button__item
        li.rate-button__star
        li.rate-button__star
        li.rate-button__star
        li.rate-button__star
        li.rate-button__star