mixin slider_description(number,price,count,bool)
  .slider-content
    .slider-desription
      h1.slider-description_h1!= '<span class="slider-description_num">№</span> '+number
        if(bool)
          span.slider-description_lux= ' люкс'
      span.slider-description_price <span class="slider-description_price--bold">#{price}&#8381;</span> в сутки
    +rate-button('stars-left')
    span.number <span class="number--bold">#{count}</span> Отзывов

mixin slider(number,price,count,bool)
  .slider-wrapper
    .slider
      .slider__img(class!=attributes.class)
      .slider__control.slider--left-side
        span.slider__control__left-arrow
      .slider__control.slider--right-side
        span.slider__control__right-arrow
    +slider_description(number,price,count,bool)