.slider {
    display: flex;
    transition: transform 0.6s ease;
    border-radius: 4px 4px 0 0;
    //картинки слайдера
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px 4px 0 0;
        width: 100%;
        height: 151px;
    }
    .img--0 {
        background-image: url('../../../assets/img/appart_0.png');
    }
    .img--1 {
        background-image: url('../../../assets/img/appart_1.png');
    }
    .img--2 {
        background-image: url('../../../assets/img/appart_2.png');
    }
    .img--3 {
        background-image: url('../../../assets/img/appart_3.png');
    }
    .img--4 {
        background-image: url('../../../assets/img/appart_4.png');
    }
    .img--5 {
        background-image: url('../../../assets/img/appart_5.png');
    }
    //создаем тень по бокам
    &__control {
        width: 42px;
        height: 151px;
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        border-radius: 4px;

        //рисуем стрелочки
        &__right-arrow, &__left-arrow {
            position: absolute;
            cursor: pointer;            
        }
        &__right-arrow {
            right: 30px;
        }
        &__left-arrow {
            left: 10px;
        }
        &__right-arrow:before, &__left-arrow:before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            background: transparent no-repeat center center;
            background-size: 100% 100%;
        }
        &__left-arrow:before {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
        &__right-arrow:before {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
    }
    &--left-side {
        left: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }
    &--right-side {
        right: 0;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }

}

.slider_desription {
    padding-top: 150px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-bottom: 10px;
}
.number {
    line-height: 17px;
    font-size: 14px;
}
h1.number {
    width: 105px;
    margin: 0;
    letter-spacing: 4px;

    span {
        font-size: 12px;
        color: var(--purple);
    }
}
span.number {
    color: var(--dark-50);
    font-size: 10px;
}
span.number--bold {
    font-family: var(--montserrat_bold);
    font-size: 12px;
}
.block .p-20 {
    padding: 20px;
    padding-bottom: 0;
}