mixin slider() 
  .slider
    .slider__img(class!=attributes.class)
    .slider__control.slider--left-side
      span.slider__control__left-arrow
    .slider__control.slider--right-side
      span.slider__control__right-arrow