mixin header_nav-link(arr={'Home':'', 'About Us':'', 'Services':'arrow-down', 'Careers':'', 'News':'', 'Documentation':''})
  ul.nav__ul
    each cls, i in arr
      li(class=cls)
        a.nav-link(href="#")= i

mixin header(arr, boolAuth, login='LOGIN', reg='REGISTER')
  .header(class!=attributes.class)
    .header__logo
    .burger.fa.fa-navicon
    .nav
      +header_nav-link(arr)
      .nav__auth
        if(!boolAuth)
          +button(login)(class=['btn--enable', 'btn--border','btn--header'])
          +button(reg)(class=['btn--enable','btn--fill','btn--header'])
        if(boolAuth)
          .nav__auth--login= boolAuth