mixin toggle(h3text)
  .toggle
    h3= h3text
    label.toggle__item
      input(type="checkbox" class="toggle__input" checked)
      span.toggle__text= "получать спецпредложения"
    label.toggle__item
      input(type="checkbox" class="toggle__input")
      span.toggle__text= "получать спецпредложения"
