- var title = "cards"
include ../main
include ./../__elements/text-field/text-field
include ./../__elements/buttons/button_big


.find._border._bRadius._bShadow._flex
    h1 Найдем номера под ваши пожелания
    .inline-flex
        .date
            h3 прибытие
            +text-field-150('date','')
        .date
            h3  выезд
            +text-field-150('date','').input_150
    h3 гости
    +text-field-320('text','СКОЛЬКО ГОСТЕЙ').input_320
    +button-big('ПОДОБРАТЬ НОМЕР')