
figure {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 0;
    margin-left: 50px;
    margin-top: -96px;
    width: 200px;
    
}
@media (min-width: 768px) {
    figure {
        flex-direction: row;
    }
}
.chart, .chart-key {
    flex: 1;
    padding-left: 9px;
    padding-right: 15px;
    line-height: 15px;
}
.chart{
    align-self: center;
    svg {
    height: auto;
    }
}

.chart-text {
    fill: #fff;
    transform: translateY(0.25em);
}
.chart-number {
    font-family: var(--montserrat_bold); //должен быть quicksands
    font-style: normal;
    font-weight: bold;
    font-size: .4em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-0.1em);
    fill: #BC9CFF;
}
.chart-label {
    font-family: var(--montserrat_bold);
    font-style: normal;
    font-weight: bold;
    font-size: .22em;
    text-anchor: middle;
    transform: translateY(1.5em);
    text-transform: uppercase;
    fill: #BC9CFF;
}
.chart-key {
    margin-top: 49px;
}
.chart-key-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 0;
    
    li {
        margin: 0 0 8px;
        padding: 0;
        position: relative;
    }
}
.chart-key [class*="shape-"] {
    margin-right: 6px;
}
.shape-circle {
    color: var(--dark-75);
    font-size: 14px;
    line-height: 16px;
}
.shape-excellent:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -13px;
    top: 5;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}
.shape-good:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -13px;
    top: 5;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.shape-well:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -13px;
    top: 5;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.shape-bad:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -13px;
    top: 5px;
    left: 0;
    border-radius: 50%;
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
}