mixin nav-link(lh,arr)
  ul.nav__ul
    lh.nav__lh: a.nav-link(href="#")= lh
    each i in arr
      li.nav__li.mt-20: a.nav-link(href="#")= i

mixin footer(logoText,navLink,subcribeH3,subscribeText)
  .footer(class!=attributes.class)
    .wrapper  
      .main
        .logo 
        span.logo-text= logoText 
      .nav
        each link, Lh in navLink
          +nav-link(Lh,link)
      .subscribe
        h3.subcribe_h3= subcribeH3
        span.subscribe_text.mt-20!= subscribeText
        +text-field('text','Your email address')(class=['flex-size-medium','mt-20'])
    .copyright
      span Copyright © 2018 Toxin UI Kit. All rights reserved.
      .copyright__icon
        a(href='#' target='blank')
          i.fa.fa-twitter.fa-gradient
        a(href='#' target='blank')
          i.fa.fa-facebook-f.fa-gradient
        a(href='#' target='blank')
          i.fa.fa-instagram.fa-gradient
