.checkbox-expandle {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;

    .text {
        margin:0;
        flex-grow:1;
        cursor: pointer;
    }
    .checkbox {
        align-self: flex-start;
        margin-top: 34px;
        position: absolute;
        display: none;
        left: 0;
        right: 0;
    }
    .show {
        display: inherit;
    }
}
