mixin text-field(h3text,type,placeholder,span,bool)
  .text-field(class!=attributes.class)
    if(bool)
      label
        svg.arrow
          use(xlink:href="#"+bool)
    h3= h3text
    span= span
    input(type=type placeholder=placeholder)

