.two-input {
    display: flex;
    width: 100%;
}
.two-input_wrapper:first-child {
    padding-right: 20px;
}
.two-input_wrapper {
    width: 150px;
}
.text-field--small {
    width: 150px;
}
#start, #end {
    cursor: pointer;
}