mixin two-input()
  .two-input
    .two-input_wrapper
      h3 Прибытие
      input(type= 'text', id= 'start', placeholder="дд.мм.ггг")
      i.fa.fa-angle-down
    .two-input_wrapper
      h3 Выезд
      input(type= 'text', id='end', placeholder="дд.мм.ггг")
      i.fa.fa-angle-down